main{
    width: 100vw;
    height: 900px;
    overflow: hidden;
    background-image: url('/src/img/background_imgpng.png');
    background-position: bottom;
    background-size: 100% 110%;
    background-repeat: no-repeat;
}

@media (max-width: 1024px){
    main{
        background-size: 300% 95% ;
    }
}