.companiesList{
    width: 100%;
    height: 690px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 20px;
    padding: 20px;
    filter: drop-shadow(0px 0px 35px rgba(0, 0, 0, 0.12));
}

.companiesList::-webkit-scrollbar{
    display: block;
    background-color: var(--color-white);
    height: 5px;
    width: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.companiesList::-webkit-scrollbar-thumb{
    background-color: var(--color-brand);
    width: 5px;
    border-radius: 5px;
}

.card{
    min-width: 241px;
    min-height: 211px;
    border-bottom: 1px solid var(--color-brand);
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 13px 15px 30px 15px;
}

.card > h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.card > div{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card > div > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.card > div > span{
    width: fit-content;
    height: fit-content;
    padding: 6px 16px;
    border: 1px solid var(--color-brand);
    border-radius: 255px;
    color: var(--color-brand);
}

@media(max-width: 1024px){
    
    .companiesList{
        width: 100%;
        flex-direction: row;
        height: fit-content;
        overflow: auto;
    }

    .companiesList::-webkit-scrollbar{
        display: none;
    }
}